USE [master]
GO
/****** Object:  Database [My_list_music]    Script Date: 17/04/2023 1:16:39 CH ******/
CREATE DATABASE [My_list_music]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'My_list_music', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\My_list_music.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'My_list_music_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\My_list_music_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [My_list_music].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [My_list_music]
GO
/****** Object:  Table [dbo].[BaiHat]    Script Date: 17/04/2023 1:16:39 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiHat](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tenbaihat] [nvarchar](150) NOT NULL,
	[tencasi] [nvarchar](100) NOT NULL,
	[path] [nchar](100) NOT NULL,
	[luotnghe] [int] NOT NULL,
	[yeuthich] [bit] NOT NULL,
	[loibaihat] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
